<footer  class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center margin20">
        <div class="footer-col">
        <h3><%= image_tag 'logo.png' %></h3>
          <p class="margin-b-20">
            PLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
          </p>
          <div class="social">
            <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
              <i class="fa fa-google-plus"></i>
              <i class="fa fa-google-plus"></i>
            </a>
            <a href="#" class="social-icon si-dark si-gray-round si-colored-instagram">
              <i class="fa fa-instagram"></i>
              <i class="fa fa-instagram"></i>
            </a>
            <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
              <i class="fa fa-pinterest"></i>
              <i class="fa fa-pinterest"></i>
            </a>
            <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div><!--footer col-->
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>&copy;2015. Theme by Design_mylife</span>
        </div>
      </div>
    </div>
  </div>
</footer>