<footer  class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center margin20">
        <div class="footer-col">
        <h3 class='text-logo'>MAJOR LEAGUE</h3>
          <div>Disclaimer:</div>
          <p>
            Your chances of being embarrassed as a result of competing are dangerously high. Individuals who take part can expect to be ridiculed, taunted, or abused, and may suffer permanent loss of self-confidence. You may even wonder why the hell you are friends with us in the first place. <br>
            Major League Incorporated will not be held responsible.
          </p>
        </div>
      </div><!--footer col-->
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>&copy;<%= Time.zone.now.year %> Website by <%= link_to 'Matt Cameron', 'http://mattcameron.com.au/', target: '_blank' %></span>
        </div>
      </div>
    </div>
  </div>
</footer>