<section id="about">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>About</p>
      <h3>What the hell is this?</h3>
    </div>
    <div class="row">
      <div class="col-md-12 margin-b-20">
        <div class="about-quote">
          <p class="lead text-center">
            <span class="colored-text">Friends</span>, for too long we have argued about who is the best among us. It is time to put the past behind us and discover once and for all, who should be raised up above the common peasants and bathed in the glory he truly deserves.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div>Disclaimer:</div>
        <p>
          Your chances of being embarrassed as a result of competing are dangerously high. Individuals who take part can expect to be ridiculed, taunted, or abused, and may suffer permanent loss of self-confidence. You may even wonder why the hell you are friends with us in the first place. Major League Incorporated will not be held responsible.
        </p>
      </div>
    </div>
      <div class="divider"></div>

    <div class="row">
      <div class="col-md-5">
        <h3 class="heading">Points</h3>
        <p class="lead">
          Each event has points up for grabs. Points work like this: If there are 10 competitors taking part, the winner gets 10 points, second gets 9, etc etc. If there were 12 competitors, the winner gets 12 points, second gets 11 etc.
        </p>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <h3 class="heading">Attendance</h3>
        <p class="lead">
          If you aren't man enough to attend an event, you may not claim that you <em>"would have won"</em> under any circumstances.
        </p>
      </div>
    </div>

    <div class="row margin-top24">
      <div class="col-md-5">
        <h3 class="heading">Chivalry</h3>
        <p class="lead">A true alpha dog proves his merit not by kicking sand in his opponent's face, but by rubbing it in his face afterwards. Please be courteous and remember that this is just a pissing competition.</p>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <h3 class="heading">Dirty Tactics</h3>
        <p class="lead">That being said, anyone of major league status obviously has a blatent disregard for the rules anyway, and will do whatever is necessary to win. This is a dog-eat-dog world after all.</p>
      </div>
    </div>
  </div>
</section>
