<% if @next_event.present? %>
  <div class="coming-soon">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="center-title">
            <span class="center-line"></span>
            <p>Next Major League event</p>
            <h3><%= @next_event.name %></h3>
          </div>

          <div class="count-down-1" id="clock" data-date="<%= @next_event.event_date.try(:strftime, '%Y/%m/%d %H:%M') %>">
            <div class="counts">
              <span id="weeks"></span> <p>weeks</p>
            </div>
            <div class="counts">
              <span id="days"></span> <p>days</p>
            </div>
            <div class="counts">
              <span id="hours"></span> <p>hours</p>
            </div>
            <div class="counts">
              <span id="mins"></span> <p>min</p>
            </div>
            <div class="counts">
              <span id="secs"></span> <p>sec</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>