<section id="events">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>Events</p>
      <h3>The proving grounds</h3>
    </div>

    <p class="lead">Events are scheduled for the first Sunday of every month.</p>
    <p class="lead">Each person must choose and organise one event. It doesn't have to cost money, but should allow the awarding of points. If any teams are required, they will be randomly chosen by lucky dip.</p>

    <div class="cube-masonry">
      <div id="events-container" class="cbp">
        <% @events.each do |event| %>
          <div class="cbp-item">
            <%= link_to event_path(event), class: 'cbp-caption' do %>
              <div class="cbp-caption-defaultWrap">
                <%= image_tag event.image.url %>
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">
                      <%= event.name %>
                    </div>
                    <div class="cbp-l-caption-desc">
                      Hosted by <%= event.host.try(:name) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div><!--.cube masonry-->

  </div>
</section>