.text-logo {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  line-height: 53px;
  margin-left: 50px;
}

footer .text-logo {
  font-size: 30px;
  margin: 0 auto;
}

/*flash*/
.alert {
  text-align: center;
  width: 100%;
  margin: 0;
  border-radius: 0;
  &.alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
   }

  &.alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
   }

  &.alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
   }

  &.alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
   }
  .close {
    padding: 0 20px;
  }
}

.divider {
  width: 100px;
  height: 3px;
  display: block;
  background-color: #32c5d2;
  margin: 20px auto;
  &.left {
    margin-left: 0;
  }
}

h3.heading {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 10px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
  vertical-align: middle;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid #ccc;
}

/**dropcaps**/
p.dropcap:first-letter {
  display: block;
  float: left;
  font-size: 50px;
  line-height: 51px;
  margin: -1px 8px -2px 0;
  color: #32c5d2;
}

.margin-top24 {
  margin-top: 24px;
}

hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0;
}

.container.sign-in {
  margin: 100px auto;
}