.img-fullwidth {
  width: 100%;
}

.fullwidthbanner {
  .main-heading {
    position: absolute;
    top: 250px;
    left: 80px;
    color: #fff;
    text-align: center;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
    h2 {
      font-family: "Montserrat", sans-serif;
    }
    .center-title {
      padding-bottom: 20px;
    }
  }
}

#about {
  padding-top: 50px;
  .about-quote {
    p {
      font-size: 25px;
    }
  }
}