#leaderboard {
  padding-top: 50px;
  .media {
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 6px;
    .media-heading {
      line-height: 80px;
      padding-left: 40px;
    }
    &.leader {
      padding-left: 20px;
      .media-heading {
        line-height: 30px;
        padding-left: 20px;
        margin-top: 20px;
      }
    }
    &:hover {
      background-color: #fafafa;
    }

    @media screen and (max-width: 480px) {
      padding: 10px;
      .media-heading {
        font-size: 15px;
        padding-left: 20px;
      }
      &.leader {
        padding-left: 10px;
      }
      img {
        max-width: 60px;
      }
    }
  }
}