<div class="nested-fields">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-9">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-sm-3">
        <%= f.label :value %>
        <div class="input-group">
          <%= f.number_field :value, min: 0, max: 100, class: 'form-control' %>
          <div class="input-group-addon">
            %
          </div>
        </div>
      </div>
    </div>

  </div>
</div>